extends layout

block content
  - if(!user)
    div.hero-unit
      h1 欢迎来到 WeiboDemo
      p WeiboDemo 是一个基于 Node.js 的微博系统
      p
        a.btn.btn-primary.btn-large(href='/login') 登录
        a.btn.btn-large(href='/reg') 立即注册
  - else
    include say
  include posts
  //- div.row
  //-   div.span4
  //-     h2 老王 说
  //-     p 乞丐不一定妒忌百万富翁，但是一定妒忌收入更高的乞丐
  //-     a.btn(href='/') 查看详情
  //-   div.span4
  //-     h2 周海涛 说
  //-     p 水果厂果然黔驴技穷了
  //-     a.btn(href='/') 查看详情
  //-   div.span4
  //-     h2 VIVI 说
  //-     p 这一边，荷尔蒙、虚荣和欲望，宛如烈火，至死燃烧；那一边，悲悯、善与爱，人格修行，永无止境。
  //-     a.btn(href='/') 查看详情