extends layout

block content
  div.hero-unit
    h1 欢迎来到 WeiboDemo
    p WeiboDemo 是一个基于 Node.js 的微博系统
    p
      a.btn.btn-primary.btn-large(href='/login') 登录
      a.btn.btn-large(href='/reg') 立即注册

  div.row
    div.span4
      h2 张三 说
      p 东风破早梅 向暖一直开 冰雪无人见 春从天上来
      a.btn(href='/') 查看详情
    div.span4
      h2 guojia 说
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      a.btn(href='/') 查看详情
    div.span4
      h2 李四 说
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      a.btn(href='/') 查看详情