doctype 5
html
  head
    title #{title}-WeiboDemo
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //- styles
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    style(type='text/css')
      body{
        padding-top: 60px;
        padding-bottom: 40px;
      }
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')

  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') WeiboDemo
          div.nav-collapse.collapse
            ul.nav
              li.active
                a(href='/') 首页
              - if(!user)
                li
                  a(href='/login') 登入
                li
                  a(href='/reg') 注册
              - else
                li
                  a(href='/logout') 登出
    div#container.container
      - if(success)
        div.alert.alert-success= success
      - if (error)
        div.alert.alert-error= error
      block content
      hr
      footer
        p
          a(href='/',target='_blank') &copy; Guo Jiaming 2012

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')