extends layout

block content
  form.form-horizontal(method='post')
    fieldset
      legend 用户登入
      div.control-group
        label.control-label(for='username') 用户名
        div.controls
          input#username.input-xlarge(type='text', name='username')
      div.control-group
        label.control-label(for='password') 密码
        div.controls
          input#password.input-xlarge(type='text', name='password')
      div.form-actions
        button.btn.btn-primary(type='submit') 登入