- posts.forEach(function(post, index){
- if(index % 3 ==0){
  | <div class="row">
- } 
  div.span4
    h2
      a(href='/u/#{post.user}') #{post.user}
      | 说
    p
      small #{post.post}
- if(index % 3 == 2) {
  | </div>
- }
- })
- if(posts.length % 3 != 0){
  | </div>
- }