extends layout

block content
  form#regFrom.form-horizontal(method='post')
    fieldset
      legend 用户注册
      div.control-group
        label.control-label(for='username') 用户名
        div.controls
          input#username.input-xlarge(type='text', name='username')
          p.help-block 您的账户名称、用于登陆和显示。
      div.control-group
        label.control-label(for='password') 密码
        div.controls
          input#password.input-xlarge(type='password', name='password')
      div.control-group
        label.control-label(for='password-repeat') 重复输入密码
        div.controls
          input#password-repeat.input-xlarge(type='password', name='password-repeat')
      div.control-group
        div.controls
          div.alert
            button.close(type='button',data-dismiss='alert') x
            strong Warning!
              |Best check yo self, you're not looking too good.
      div.form-actions
        button#submitbtn.btn.btn-primary(type='button', onclick='doReg();') 注册
  script
    function doReg(){
      if($('#password').val()!=$('#password-repeat').val()){
        $(".alert").alert();
        return;
      }
      regFrom.submit();
    }